{#
# Custom template to run the mocha reports at the page-template level.
#}

<div id="mocha"></div>

<script class="mocha-init">
  // mocha.setup('qunit');
  // mocha.checkLeaks();
</script>
<script class="mocha-exec">
  // mocha.run();
</script>
